html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 18px;
  line-height: 28px;
  margin: 25px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.wrapper{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr)
}

.loginbtn{
  justify-self: center;
}
